.logo {
    width: 48px;
    height: 48px;
    background: url('/assets/png/logo.chunk.png') no-repeat center center;
    background-size: contain;
    float: left; /* 确保Logo在左边 */
    margin-right: 5px; /* 修正间距 */
}

.title {
    float: left; /* 确保标题紧跟Logo显示 */
    line-height: 48px; /* 根据高度调整对齐 */
    margin: 0;
    font-size: 18px;
}
