/* 通用样式，用于添加下划线和高亮 */
.ding-underline {
    text-decoration: underline;
}

.ding-highlight {
    background-color: #fff9c4; /* 柔和的黄色 */
    padding: 1px 2px; /* 为高亮文本添加一些内边距 */
    border-radius: 4px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    transition: background-color 0.3s ease; /* 过渡效果 */
}

.ding-highlight:hover {
    background-color: #fff59d; /* 悬停时背景颜色 */
}

.ding-search-hit {
    background-color: #4caf50; /* 鲜艳的绿色 */
    padding: 1px 2px; /* 为搜索命中文本添加更多内边距 */
    border-radius: 4px; /* 圆角 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    transition: background-color 0.3s ease; /* 过渡效果 */
}

.ding-search-hit:hover {
    background-color: #388e3c; /* 悬停时更深的绿色 */
}


.custom-drawer {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
    transition: right 0.3s ease-in-out;
}

.custom-drawer.visible {
    right: 0;
}

.drawer-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.custom-menu {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #f0f0f0;
    background-color: #f8f8f8;
}

.menu-item {
    text-align: center;
    flex: 1;
    cursor: pointer;
    padding: 10px 0;
}

.menu-item.active {
    background-color: #e0e0e0;
}

.menu-item > div {
    font-size: 12px;
}


.ding-bold-text {
    font-weight: bold;
}


.target-language-annotation {
    cursor: pointer;
}

.source-language-annotation {
    cursor: pointer;
}

.rt-style {
    font-size: medium;
    padding: 0 5px;
}




.word-card {
    position: absolute;
    width: 350px;
    background: #fffae5; /* 淡黄色背景 */
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, sans-serif;
    z-index: 1000; /* 确保卡片在顶层 */
}

.word-card-pronunciation {
    font-size: 20px;
    color: #999;
    cursor: pointer;
}


.word-card-header {
    background: #ffecb3; /* 淡黄色的更深一点的色调 */
    color: #333;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-card-close {
    background: none;
    border: none;
    cursor: pointer;
}

.word-card-content {
    padding: 15px;
    color: #333; /* 深色文字提高可读性 */
}

.word-card-english {
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
}

.word-card-translation {
    font-size: 18px;
    margin-top: 10px;
}

.word-card-buttons {
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px; /* 为按钮添加间隔 */
    flex-wrap: wrap;
}

.word-card-button {
    padding: 5px 10px;
    border: 1px solid #ccc; /* 边框增加按钮的辨识度 */
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff; /* 按钮使用白色背景 */
    color: #333; /* 使用深色文字 */
    transition: background-color 0.2s, color 0.2s;
}

.word-card-button:hover {
    background-color: #ffecb3; /* 鼠标悬停时按钮背景变为淡黄色 */
    color: #333; /* 鼠标悬停时文字颜色保持不变 */
}

.strange-button {
    border-color: #e57373;
}

.difficult-button {
    border-color: #ffb74d;
}

.good-button {
    border-color: #81c784;
}

.easy-button {
    border-color: #64b5f6;
}

.master-button {
    border-color: #9575cd;
}

.word-card-example, .word-card-example-translation {
    margin-top: 5px;
    font-size: 14px; /* 字体稍小一些 */
    color: #333;
    line-height: 1.4; /* 紧凑一些 */
}
.word-highlight {
    color: #ff5722; /* 高亮颜色 */
}
